#set($viewName = '_ba_gebruikersbeheer_gebruikers')

<div class="cds-tab-container">
	<ul class="cds-tab-strip nowrapTabStrip dijitTabContainerTop-tabs">
		<li class="dijitTab">
			<a class="tabLabel" href="#springUrl('/ba/gebruikersbeheer/gebruikers')">Gebruikers</a>
		</li>
		<li class="dijitTab">
			<a class="tabLabel" href="#springUrl('/ba/gebruikersbeheer/bronhouders')">Bronhouders</a>
		</li>
		<li class="dijitTab dijitTabChecked dijitChecked">
			<a class="tabLabel" href="#springUrl('/ba/gebruikersbeheer/autorisatie')">Thema autorisatie</a>
		</li>
	</ul>
	
	<div class="cds-tab-content">
	
	</div>
</div>