#set($contextTitle = 'Bronhouders')

<p>
	<a href="#springUrl('/ba/gebruikersbeheer/bronhouders/-/create')">Nieuwe bronhouder toevoegen</a>
</p>

<table class="cds-table">
	<thead>
		<tr>
			<th>Naam</th>
			<th>Code</th>
			<th>Contactgegevens</th>
			<th>Acties</th>
		</tr>
	</thead>
	
	<tfoot>
		<tr>
			<th colspan="4">
				#e($bronhouders.size()) bronhouder#if($bronhouders.size() != 1)s#end gevonden
			</th>
		</tr>
	</tfoot>
	
	<tbody>
		#foreach($bronhouder in $bronhouders)
		<tr>
			<td>#e($bronhouder.naam)</td>
			<td>#if($bronhouder.core) - #else #e($bronhouder.code) #end</td>
			<td>
				<address>
					#if($bronhouder.contactNaam)#e($bronhouder.contactNaam)<br>#end
					#if($bronhouder.contactAdres)#e($bronhouder.contactAdres)<br>#end
					#if($bronhouder.contactPostcode)#e($bronhouder.contactPostcode) #end #if($bronhouder.contactPlaats)#e($bronhouder.contactPlaats) #end
					<a href="mailto:#e($bronhouder.contactEmailadres)">#e($bronhouder.contactEmailadres)</a>
				</address>
			</td>
			<td>
				<a href="#springUrl('/ba/gebruikersbeheer/bronhouders/')$bronhouder.id/edit">Bewerken</a> 
				<a href="#springUrl('/ba/gebruikersbeheer/bronhouders/')$bronhouder.id/delete">Verwijderen</a>
			</td>
		</tr>
		#end
	</tbody>
</table>